<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-brand p-0 mx-5"><img src="https://cdn-icons-png.flaticon.com/512/2838/2838669.png" alt="logo" style= "width: 60px"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav text-center">
            <li class="nav-item active mx-3">
                <a href="/" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item dropdown mx-3">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Productos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a href="/products/new" class="dropdown-item">Agregar Productos</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="/products" class="dropdown-item">Todo</a></li>
                    <li><a href="/product/category?cat=1" class="dropdown-item">Categoria1</a></li>
                    <li><a href="/product/category?cat=2" class="dropdown-item">Categoria2</a></li>
                    <li><a href="/product/category?cat=3" class="dropdown-item">Categoria3</a></li>
                    <li><a href="/product/category?cat=4" class="dropdown-item">Categoria4</a></li>
                    <li><a href="/product/category?cat=5" class="dropdown-item">Categoria5</a></li>
                    <li><a href="/product/category?cat=6" class="dropdown-item">Categoria6</a></li>
                    <li><a href="/product/category?cat=7" class="dropdown-item">Categoria7</a></li>
                    <li><a href="/product/category?cat=8" class="dropdown-item">Categoria8</a></li>
                    <li><a href="/product/category?cat=9" class="dropdown-item">Categoria9</a></li>
                    <li><a href="/product/category?cat=10" class="dropdown-item">Categoria10</a></li>
                </ul>
            </li>
        </ul>
        <div class='text-center my-2'><GrCart /></div>
         <div class="mx-2">
            {{!-- dejado momentaneamente el ?id= para desarrollo --}}
            <a href="/cart" id="cartImg">
                <svg width="32px" height="32px" viewBox="-6.72 -6.72 37.44 37.44" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)"><rect x="-6.72" y="-6.72" width="37.44" height="37.44" rx="18.72" fill="#204acb" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.72"></g><g id="SVGRepo_iconCarrier">
                    <path d="M4.78571 5H18.2251C19.5903 5 20.5542 6.33739 20.1225 7.63246L18.4558 12.6325C18.1836 13.4491 17.4193 14 16.5585 14H6.07142M4.78571 5L4.74531 4.71716C4.60455 3.73186 3.76071 3 2.76541 3H2M4.78571 5L6.07142 14M6.07142 14L6.25469 15.2828C6.39545 16.2681 7.23929 17 8.23459 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM11 19C11 20.1046 10.1046 21 9 21C7.89543 21 7 20.1046 7 19C7 17.8954 7.89543 17 9 17C10.1046 17 11 17.8954 11 19Z" stroke="#ffffff" stroke-width="1.44" stroke-linecap="round" stroke-linejoin="round">
                    </path> </g>
                </svg>
            </a>
        </div>
        <div class="mx-2">
            {{!-- dejado momentaneamente el ?id= para desarrollo --}}
            <a href="/user?id={{ userId }}" id="userImg">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </a>
        </div>
    </div>
</nav>