/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #65a4a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #65a4a0;
    border-radius: 8px;
    border: 3px none #ffffff;
  }

#messages{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 3px 3px 4px #00000040;
    background-color: #d8d8d8e3;
}

.msj{
    word-wrap: break-word
    
}

.textBox{
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    width: fit-content;
    max-width: 450px;
}

.time{
    font-size: 12px;
}

/* product Boxes */

.product-box{
  box-shadow: 0px 3px 4px #0000001a;
  transition: box-shadow 0.2s ease-in;
}
.product-box:hover{
  box-shadow: 0px 3px 6px #00000040;
}

/* ITEM CARD */

.itemCard{
  max-width: 15rem;
  box-shadow: 0 0.4rem 4px 1px #1d21241a;
  cursor: pointer;
}

.itemCard:hover{
  box-shadow: 0 0.4rem 4px 1px #1d212442;
}

.itemCard__img{
  /* margin: 10px; */
  padding: 10px;
  height: 160px;
  object-fit: contain;
}
.itemCard__price{
  height: 30px;
  text-align: center;
}

.itemCard__text{
  overflow-y: hidden;
  height: 196px;
}